# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Ambientes virtuais
# -------------------------
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Configurações locais e logs
# -------------------------
*.env
*.ini
*.local
*.log
*.cfg

# -------------------------
# Dados temporários
# -------------------------
*.csv
*.dat
*.tmp
*.bak

# -------------------------
# Planilhas


# -------------------------
*.xlsx
*.xls
*.xlsm
*.xlsb
*.ods
*.numbers

# -------------------------
# Shapefiles e geodados
# -------------------------
*.shp
*.shx
*.dbf
*.prj

*.cpg
*.qpj
*.sbn
*.sbx
*.shp.xml
*.tif
*.tiff
*.geojson
*.kml
*.kmz

# -------------------------
# Imagens
# -------------------------
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp

# -------------------------
# Outros arquivos grandes
# -------------------------
*.zip
*.tar
*.gz
*.7z
*.rar

